RANCHER_VERSION=v2.13.1
K3S_VERSION="v1.33.8+k3s1"
RANCHER_URL="https://rancher.example.com"
RANCHER_TOKEN="token-xxx:xxxxxxxx"
CLOUD_PROVIDER=digitalocean
DO_TOKEN="dotokenxxxxxx"
K3S_UPGRADE_VERSION = "v1.34.5+k3s1"
