terraform/digitalocean/.terraform.lock.hcl
terraform/digitalocean/.terraform/
terraform/digitalocean/terraform.tfstate
terraform/digitalocean/terraform.tfstate.backup
terraform/digitalocean/terraform.tfvars
.env
